body {
    font-family: Arial, sans-serif;
    background-color: #050f18;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
  }

  h1{
    font-size: 60px;
    color: #f56b00 ;
    justify-content: center;
    
  }

  header {
    display: flex; /* Flexbox to align logo and title */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Center the content (logo and title) horizontally */
    margin-bottom: 20px;
    width: 100%;
  }

  .logo {
    width: 50px; /* Adjust width to your preference */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust the spacing between logo and title */
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color:  #f56b00;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto; /* Scrollbar only for rankings */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  li {
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li span {
    font-size: 16px;
  }
  
  li button {
    background-color:  #f56b00;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
